{{ $fullResized := partial "fn/ResizeSmart" (dict "image" .src "length" 3000) }}
{{ $resized := partial "fn/ResizeSmart" (dict "image" .src "length" 1500) }}

<a
    class="figure__link"
    href="{{ $fullResized.RelPermalink }}"
    data-pswp-width="{{ $fullResized.Width }}"
    data-pswp-height="{{ $fullResized.Height }}">

    <img
        class="figure__img{{ if .outline }} outlined{{ end }}"
        src="{{ $resized.RelPermalink }}"

        {{ with .alt }}
            alt="{{ . }}"
        {{ end }}

        {{ with .title }}
            title="{{ . }}"
        {{ end }}
    />
</a>
