/* || STACK */

.stack {
  list-style-type: none;
  width: 100%;
  margin-top: var(--spacing-section);
  margin-bottom: var(--spacing-section);
}

.stack--project {
  display: grid;
  gap: var(--spacing-stack);
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, minmax(0, 4fr));
}

.stack--sketch {
}

.gutter-sizer {
  width: var(--spacing-stack);
}

@media screen and (max-width: 42rem) {
  .stack--project {
    grid-template-columns: auto !important;
  }

  .stack--sketch {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .item--project {
    grid-column: initial !important;
  }
}


/* || ITEM */

.item {
  border-radius: var(--corner-radius);
}

.item--project {
  height: var(--height-item-project);
  grid-column: span 3;
}

.item--sketch, .grid-sizer {
  width: calc(1/3 * 100% - 2/3 * var(--spacing-stack));
}

.item--sketch {
  padding-bottom: var(--spacing-stack);
}

.item__link {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--corner-radius);

  /* to center children on hover */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item--sketch__link {
  width: 100%;
}

.item__link:hover > .item__img,
.item--project__link:hover > .item__overlay,
.item__link:active > .item__img,
.item--project__link:active > .item__overlay {
  width: 97%;
  height: 97%;
}

.item--project__link:hover > .item__overlay > .item__title,
.item--project__link:active > .item__overlay > .item__title {
  font-size: calc(0.97 * var(--font-size-h3));
}

.item__img {
  border-radius: var(--corner-radius);
  transition: var(--transition);
}

.item--project__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item--sketch__img {
  width: 100%;
}

.item__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  align-content: center;
  border-radius: var(--corner-radius);
  transition: var(--transition);
}

.item__title {
  text-align: center;
  margin: 0;
  color: var(--color-text-primary-inverted);
  transition: var(--transition);
}

@media screen and (max-width: 42rem) {
  .item--sketch, .grid-sizer {
    width: calc(50% - 0.5 * var(--spacing-stack));
  }
}
