/* || HERO */

.hero {
  position: relative;
  width: 100vw;
  height: 50vh;
  margin-top: calc(-1 * var(--height-header));
}

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  align-content: center;
}

.hero__title {
  margin: 0;
  text-align: center;
  margin-top: var(--height-header);
}


/* || CALLOUT */

.callout {
  border-radius: var(--corner-radius-large);
  padding: var(--spacing-small);
  background-color: var(--color-surface);
  margin-top: var(--spacing-p);
  margin-bottom: var(--spacing-p);
}

.callout__heading {
  color: var(--color-text-secondary);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.callout__body {
  color: var(--color-text-secondary);
  margin: 0;
}


/* || FIGURE */

.figure__img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: cover;
  border-radius: var(--corner-radius-large);
}
