.column {
  width: var(--width-column-wide);
  max-width: calc(100% - 2 * var(--spacing-small));
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

.column--narrow {
  width: var(--width-column-narrow);
}


/* || HEADER */

header {
  padding-top: var(--spacing-edge);
  padding-bottom: var(--spacing-edge);
  z-index: 1; /* above hero */
}

.header__nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: row;
}

.header__nav__top {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: auto;
}

.header__nav__top__logo {
  display: flex;
  font-weight: normal;
  text-align: start;
  align-items: center;
}

#header__nav__top__toggle {
  display: none;
}

.header__nav__top__label {
  display: none;
}

.header__nav__tabs {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: var(--spacing-header-tabs);
  align-items: center;
}

.nav-btn {
  transition: var(--transition);
  border-radius: var(--corner-radius);
}

.nav-btn:hover,
.nav-btn:active,
.nav-btn--selected {
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  padding-left: var(--spacing-tiny);
  padding-right: var(--spacing-tiny);
  margin-left: calc(-1 * var(--spacing-tiny));
  margin-right: calc(-1 * var(--spacing-tiny));
}

.nav-btn--tab {
  font-weight: 500;
}

.nav-btn--label {
  padding-top: var(--spacing-tiny);
  padding-bottom: var(--spacing-tiny);
  margin-top: calc(-1 * var(--spacing-tiny));
  margin-bottom: calc(-1 * var(--spacing-tiny));
}

.nav-btn.inverted:hover,
.nav-btn.inverted:active,
.nav-btn--selected.inverted {
  background-color: var(--color-bg);
}

.nav-logo {
  height: var(--height-logo-header);
}

.nav-logo--homepage {
  display: none;
}

@media screen and (max-width: 42rem) {
  header:has(#header__nav__top__toggle:checked) {
    background-color: var(--color-bg);
    /*position: absolute;
    height: 100%;*/
  }

  .header__nav {
    height: auto;
    flex-direction: column;
    gap: var(--spacing-edge);
  }

  .header__nav__top {
    width: 100%;
  }

  .header__nav__top__label {
    display: flex;
  }

  #header__nav__top__toggle ~ .header__nav__top__label > .lucide-menu {
    display: flex;
  }

  #header__nav__top__toggle:checked ~ .header__nav__top__logo > .nav-logo.inverted {
    /* invert inversion */
    color: var(--color-text-primary);
  }

  #header__nav__top__toggle:checked ~ .header__nav__top__logo > .nav-logo--homepage {
    display: block;
  }
}

  #header__nav__top__toggle:checked ~ .header__nav__top__label.inverted {
    /* invert inversion */
    color: var(--color-text-primary);
  }
  #header__nav__top__toggle:checked ~ .header__nav__top__label.inverted:hover,
  #header__nav__top__toggle:checked ~ .header__nav__top__label.inverted:active {
    /* invert inversion */
    background-color: var(--color-surface);
  }

  #header__nav__top__toggle:checked ~ .header__nav__top__label > .lucide-menu {
    display: none;
  }

  #header__nav__top__toggle ~ .header__nav__top__label > .lucide-x {
    display: none;
  }

  #header__nav__top__toggle:checked ~ .header__nav__top__label > .lucide-x {
    display: flex;
  }

  .header__nav__tabs {
    flex-direction: column;
    display: none;
    justify-items: center;
    gap: var(--spacing-tiny);
  }

  .header__nav__top:has(#header__nav__top__toggle:checked) ~ .header__nav__tabs {
    display: flex;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));*/
  }

  .nav-btn--tab {
    width: 80%;
    text-align: center;
    padding-top: var(--spacing-tiny);
    padding-bottom: var(--spacing-tiny);
    color: var(--color-text-primary);
  }

  .nav-btn--tab:hover,
  .nav-btn--tab:active,
  .nav-btn--tab.nav-btn--selected {
    width: 100%/*fit-content*/;
    padding-left: 0;
    padding-right: 0;
  }

  .nav-btn--tab.inverted:hover,
  .nav-btn--tab.inverted:active,
  .nav-btn--tab.nav-btn--selected.inverted {
    /* invert inversion */
    color: var(--color-text-primary);
    background-color: var(--color-surface);
  }
}


/* || FOOTER */

.footer__text, .footer__text > * {
  margin: 0;
  text-align: center;
  color: var(--color-text-secondary);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: var(--spacing-tiny);
}

.social-circle {
  background-color: var(--color-surface);
  border-radius: 1.5rem;
  width: var(--size-social-circle);
  height: var(--size-social-circle);
  transition: var(--transition);
}

.social-circle:hover,
.social-circle:active {
  width: calc(1.2 * var(--size-social-circle));
  height: calc(1.2 * var(--size-social-circle));
  margin-top: calc(-1 * (1.2 - 1) / 2 * var(--size-social-circle));
  margin-bottom: calc(-1 * (1.2 - 1) / 2 * var(--size-social-circle));
}

.social-circle > a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-circle svg {
  width: var(--size-social-circle-icon);
  height: var(--size-social-circle-icon);
  color: var(--color-text-secondary);
  transition: var(--transition);
}

.social-circle:hover svg,
.social-circle:active svg {
  width: calc(1.2 * var(--size-social-circle-icon));
  height: calc(1.2 * var(--size-social-circle-icon));
  color: var(--color-text-primary);
}

.footer__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-tiny);
}

.footer__decoration {
  height: 6rem;
  width: auto;
}
