.column {
  width: var(--width-main);
  margin-left: auto;
  margin-right: auto;
}

.column--narrow {
  width: var(--width-narrow);
}


/* || HEADER */

.header__content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  display: flex;
  font-weight: normal;
  text-align: start;
  align-items: center;
}

.header__nav {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.nav-tab {
  transition: var(--transition);
  border-radius: var(--corner-radius-large);
  font-weight: 500;
}

.nav-tab:hover,
.nav-tab--selected {
  color: var(--color-text-primary);
  background-color: var(--color-surface);
  padding-left: var(--spacing-tiny);
  padding-right: var(--spacing-tiny);
  margin-left: calc(-1 * var(--spacing-tiny));
  margin-right: calc(-1 * var(--spacing-tiny));
}

.nav-tab.inverted:hover
.nav-tab--selected.inverted {
  background-color: var(--color-bg);
}

