.outlined {
  outline: var(--width-border) solid var(--color-border);
  outline-offset: -0.085rem;
}

.bulletless {
  list-style-type: none;
  padding-left: 0;
}

.fadeload {
  opacity: 0;
  transition: var(--transition);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
