<article class="item item--project">
    {{ $thumb := "" }}

    {{ with .Params.hero }}
        {{ $thumb = . }}
    {{ else with index .RegularPages 0 }}
        {{ $thumb = .Params.hero }}
    {{ end }}

    <a class="item__link" href="{{ .RelPermalink }}">
        {{ with $thumb }}
            {{ $path := partial "fn/Concat" (slice "images/" .) }}
            {{ $image := resources.Get $path }}
            {{ $resized := partial "fn/ResizeSmart" (dict "image" $image "length" 1000) }}

            {{ with $resized }}
                <img class="item__img" loading="lazy" src="{{ .RelPermalink }}">
            {{ else }}
                {{ errorf (partial "fn/Concat" (slice "Item: unable to find " $path)) }}
            {{ end }}
        {{ end }}

        <div class="item__overlay">
            {{ with .LinkTitle }}
                <h3 class="item__title">{{ . }}</h3>
            {{ end }}
        </div>
    </a>
</article>
