<article class="item item--sketch{{ if page.IsHome }} item--sketch--home{{ end }}">
    {{ $thumb := "" }}
    {{ $style := "" }}

    {{ with .Params.hero }}
        {{ $thumb = . }}
    {{ else }}
        {{ warnf (add "Item: " .Params.title " has no hero" ) }}
    {{ end }}

    {{ with .Params.height }}
        {{ $style = add "aspect-ratio: 1 / " (string .) }}
    {{ end }}

    <a class="item__link item--sketch__link" style="{{ safe.CSS $style }}">
        {{ with $thumb }}
            {{ $image := resources.Get . }}

            {{ with $image }}
                {{ $resized := partial "fn/ResizeSmart" (dict "image" . "length" 2000) }}
                <img class="item__img item--sketch__img zoomable" loading="lazy" src="{{ $resized.RelPermalink }}">
            {{ else }}
                {{ errorf (add "Item: unable to find " .) }}
            {{ end }}
        {{ end }}
    </a>
</article>
