<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/index.css">

        <!-- favicon -->
        <link rel="icon" href="/images/favicon.svg">

        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

        <!-- adobe fonts -->
        <link rel="stylesheet" href="https://use.typekit.net/bgh2bfy.css">

        <!-- title -->
        {{ if eq .Page.Title .Site.Title }}
            <title>{{ .Site.Title }}</title>
        {{ else }}
            <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
        {{ end }}
    </head>

    <body>
        {{ partial "header" . }}
        {{ block "main" . }}
        {{ end }}
        {{ partial "footer" . }}

        <div id="zoom-container"></div>

        <!-- scripts -->
        <script src="https://unpkg.com/medium-zoom@1.1.0/dist/medium-zoom.min.js"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
        <script src="{{ "js/app.js" | absURL }}"></script>
    </body>
</html>
