{{ define "main" }}

    {{ partial "hero" . }}

    <main class="column">
        <section>
            {{ if not .Params.hero }}
                <h1>{{ .Title }}</h1>
            {{ end }}

            {{ .Content }}

            {{ $sectionsAndPages := partial "fn/GetItemsRecursive" . }}
            {{ $sections := index $sectionsAndPages 0 }}
            {{ $pages := index $sectionsAndPages 1 }}

            <!-- sections -->
            {{ with $sections }}
                {{ partial "list/stack_project" . }}
            {{ end }}

            {{ if and $sections $pages }}
                <hr>
            {{ end }}

            {{ with $pages }}
                {{ if eq $.Section "projects" }}
                    {{ partial "list/stack_project" . }}
                {{ else if or (eq $.Section "sketches") (eq $.Section "") }}
                    {{ partial "list/stack_sketch" . }}
                {{ else }}
                    {{ errorf (add "List: unknown section " $.Section ) }}
                {{ end }}
            {{ end }}
        </section>
    </main>
{{ end }}

