{{ define "main" }}

    {{ partial "hero" . }}

    <main class="column">
        <section>
            {{ if not .Params.hero }}
                <h1>{{ .Title }}</h1>
            {{ end }}

            {{ .Content }}

            {{ $sectionsAndPages := partial "fn/GetItemsRecursive" . }}
            {{ $sections := index $sectionsAndPages 0 }}
            {{ $pages := index $sectionsAndPages 1 }}

            <!-- homepage featured portfolio content -->
            {{ if eq $.Section "" }}
                {{ with .Site.Taxonomies.portfolios.main }}
                    {{ $pages = $pages | append . }}
                {{ end }}
            {{ end }}

            <!-- sections -->
            {{ with $sections }}
                {{ partial "list/stack_project" . }}
            {{ end }}

            {{ if and $sections $pages }}
                <hr>
            {{ end }}

            <!-- pages -->
            {{ with $pages }}
                {{ if eq $.Section "projects" }}
                    {{ partial "list/stack_project" . }}
                {{ else }}
                    {{ partial "list/stack_sketch" . }}
                {{ end }}
            {{ end }}
        </section>
    </main>
{{ end }}

