{{ define "main" }}

    {{ partial "hero" . }}

    <main class="column">
        <section>
            {{ if not .Params.hero }}
                <h1>{{ .Title }}</h1>
            {{ end }}

            {{ .Content }}

            <!-- sections -->
            {{ with where .Sections "Params.hidden" "!=" true }}
                {{ partial "list/stack_project" . }}
            {{ end }}

            <!-- items -->
            {{ with where .RegularPages "Params.hidden" "!=" true }}
                {{ partial "list/stack_project" . }}
            {{ end }}
        </section>
    </main>

{{ end }}
