{{ $sections := (slice) }}
{{ $pages := (slice) }}

{{ range where .Sections "Params.hidden" "!=" true }}
    {{ if .Params.embed }}
        {{ $sectionsAndPages := partial "fn/GetItemsRecursive" . }}
        {{ $sections = $sections | append (index $sectionsAndPages 0) }}
        {{ $pages = $pages | append (index $sectionsAndPages 1) }}
    {{ else if .RegularPagesRecursive }}
        {{ $sections = $sections | append . }}
    {{ end }}
{{ end }}

{{ range where .RegularPages "Params.hidden" "!=" true }}
    {{ $pages = $pages | append . }}
{{ end }}

{{ return (slice $sections $pages)}}
