<footer>
    <div class="footer__content column">
        {{ with resources.Get "images/decoration-cat.png" }}
            {{ $resized := partial "fn/ResizeSmart" (dict "image" . "length" 500) }}

            <img class="footer__decoration" src="{{ $resized.RelPermalink }}" />
        {{ end }}

        <div class="footer__socials">
            {{ partial "social" (dict "icon" "mail" "link" "mailto:ella.ml.wallin@gmail.com" ) }}
            {{ partial "social" (dict "icon" "linkedin" "link" "https://linkedin.com/in/ella-wallin" ) }}
            {{ partial "social" (dict "icon" "instagram" "link" "https://instagram.com/ella.wallin" ) }}
        </div>

        <p class="footer__text">© Ella Wallin</p>
    </div>
</footer>
