<footer>
    <div class="footer__content column">
        {{ with resources.Get "images/decoration-cat.png" }}
            {{ $resized := partial "fn/ResizeSmart" (dict "image" . "length" 500) }}

            <img class="footer__decoration" src="{{ $resized.RelPermalink }}" />
        {{ end }}

        <div class="footer__socials">
            {{ range site.Menus.social }}
                {{ partial "social" (dict "icon" .Params.icon "link" .URL ) }}
            {{ end }}
        </div>

        <p class="footer__text">© Ella Wallin</p>
    </div>
</footer>
