<header class="column">
    {{ $class := "" }}

    <!-- overlapping hero -->
    {{ if and .Params.hero (or (ne .Kind "page") (.Params.project)) }}
        {{ $class = "inverted" }}
    {{ end }}

    <nav class="header__nav">
        <div class="header__nav__top">
            <input id="header__nav__top__toggle" type="checkbox">

            <label class="header__nav__top__label nav-btn nav-btn--label {{ $class }}" for="header__nav__top__toggle">
                {{ partial "ic/menu.svg" }}
                {{ partial "ic/x.svg" }}
            </label>

            <div class="header__nav__top__logo">
                <a class="nav-logo {{ $class }}{{ if eq .RelPermalink "/" }} nav-logo--homepage{{ end }}" href="/">{{ partial "ic/logo-small.svg" }}</a>
            </div>
        </div>

        <div class="header__nav__tabs">
            {{ range site.Menus.main }}
                {{ partial "header_tab" (dict "link" .URL "text" .Name "class" $class) }}
            {{ end }}
        </div>
    </nav>
</header>
