<header>
    {{ $class := "" }}

    <!-- overlapping hero -->
    {{ if and .Params.hero (or (ne .Kind "page") (.Params.project)) }}
        {{ $class = "inverted" }}
    {{ end }}

    <div class="header__content column">
        <div class="header__logo">
            <!-- don't show on homepage -->
            {{ if ne .RelPermalink "/" }}
                <a class="nav-logo {{ $class }}" href="/">{{ partial "ic/logo-small.svg" }}</a>
            {{ end }}
        </div>

        <nav class="header__nav">
            {{ range site.Menus.main }}
                {{ partial "header_tab" (dict "link" .URL "text" .Name "class" (add $class " nav-tab--hidable") ) }}
            {{ end }}
        </nav>
    </div>
</header>
