{{ with .Params.hero }}
    {{ $classHero := "" }}
    {{ $classTitle := "" }}

    {{ if $.Params.herolarge }}
        {{ $classHero = "hero--large" }}
        {{ $classTitle = "hero__title--logo" }}
    {{ end }}

    <div class="hero {{ $classHero }}">
        {{ $path := add "images/" . }}
        {{ $image := resources.Get $path }}
        {{ $resized := partial "fn/ResizeSmart" (dict "image" $image "length" 2000) }}

        {{ with $resized }}
            <img class="hero__img fadeload" loading="lazy" onload="this.style.opacity=1" src="{{ .RelPermalink }}">
        {{ else }}
            {{ errorf add "Hero: unable to find " $path }}
        {{ end }}

        <div class="hero__overlay">
            <h1 class="hero__title {{ $classTitle }} inverted column">{{ $.Title }}</h1>
        </div>
    </div>
{{ end }}
