{{ with .Params.thumb }}
    {{ $style := "" }}

    {{ with $.Params.thumbsize }}
        {{ $style = partial "fn/Concat" (slice "height: " .) }}
    {{ end }}

    <div class="hero" style="{{ $style }}">
        {{ $path := partial "fn/Concat" (slice "images/" .) }}
        {{ $image := resources.Get $path }}
        {{ $resized := partial "fn/ResizeSmart" (dict "image" $image "length" 2000) }}

        {{ with $image }}
            <img class="hero__img" loading="lazy" src="{{ $resized.RelPermalink }}">
        {{ else }}
            {{ fmt.Errorf (partial "fn/Concat" (slice "Single: unable to find " $path)) }}
        {{ end }}

        <div class="hero__overlay">
            <h1 class="hero__title inverted">{{ $.Title }}</h1>
        </div>
    </div>
{{ end }}
